<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>548424482224-b1ltcjddr11ikp4n871d4cs4gnr5na03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548424482224-b1ltcjddr11ikp4n871d4cs4gnr5na03</string>
	<key>API_KEY</key>
	<string>AIzaSyDFNLHTv3v05lVV-pF12BDziyUPTu9LjMU</string>
	<key>GCM_SENDER_ID</key>
	<string>548424482224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryansprouleapps.pocketphds</string>
	<key>PROJECT_ID</key>
	<string>pocket-phds</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-phds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548424482224:ios:65c3036c46bfbb29</string>
	<key>DATABASE_URL</key>
	<string>https://pocket-phds.firebaseio.com</string>
</dict>
</plist>